*{
    margin: 0;
    padding: 0;
    border: 0;

    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    height: 937px;
    background: rgb(42,0,255);
    background: linear-gradient(180deg, rgba(42,0,255,0.4654236694677871) 5%, rgba(41,0,243,0.30575980392156865) 11%, rgba(39,1,228,0.09007352941176472) 17%, rgba(30,5,156,0.0984768907563025) 83%, rgba(28,6,142,0.17130602240896353) 90%, rgba(35,16,126,0.1881127450980392) 96%);

    display: flex;
    justify-content: center;

    background-repeat: no;

 
    audio {
        outline: none;
    }

    .wrapper {
    
        width: 1350px;
        height: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        header {
            width: 90%;
            height: 80px;

            display: flex;
            justify-content: space-between;
            align-items: center;
           
            .profile{
                display: flex;
                align-items: center;
                cursor: pointer;
                span {
                    margin-right: 10px;
                }
            }
        }

        .main {
            height: 92%;
            width: 90%;      
            display: flex;
            margin-top: 40px;
          

            .currentPlaylist {
                width: 45%;
                height: 100%;
                margin-right: 4px;
                &::-webkit-scrollbar {
                    width: 2px;
                }
                &::-webkit-scrollbar-track {
                    background: rgba(71, 49, 182, 0.164);
                    border-radius: 20px;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: rgba(71, 49, 182, 0.486);
                    border-radius: 20px;
                }
                overflow-y: auto;

                .currentPlaylistItem {
                    width: 100%;
                    height: 80px;
                    border-radius: 11px;
                    
                    margin-bottom: 15px;
                    display: flex;
                    align-items: center;
                    position: relative;

                    input {
                        
                        height: 5px;
                        -webkit-appearance: none;
                        width: 100%;
                        margin-bottom: 10px;
                        border-radius: 8px;
                        background: #3b7677;
                        transition: background 0.2s ease;
                        cursor: pointer;
                        position: absolute;
                        
                        margin-top: 70px;
                        margin-left: 10px;
                        width: 87%;
                      }

                    .itemMain {
                        border-radius: 11px;
                        width: 90%;
                        height: 100%;        
                        display: flex;
                        flex-direction: column;
                        transition: linear 0.1s;
                        
                        &:hover {
                            background-color: rgba(29, 6, 142, 0.11);
                        }
                        

                        .itemDescription {
                            width: 100%;
                            display: flex;
                            margin-top: 10px;
                            margin-left: 10px;
                            .itemLogo {
                                img{
                                    width: 40px;
                                    height: 40px;
                                }
                            }

                            .itemAuthor {
                                width: 80%;
                                margin-left: 10px;
                                display: flex;
                                flex-direction: column;
                                .itemComposer {
                                    opacity: 0.7;
                                }
                            }

                            .itemCurrentTime {
                                opacity: 0.7;
                            }
                        }
                           
                    
                    }

                    .itemFeedback {
                        margin-left: 10px;
                        display: flex;
                        align-items: center;
                        img {
                            width: 20px;
                            height: 20px;
                        }

                       
                    }
                }
            }
            .nextPlaylist{
                width: 20%;
                height: 100%;
            }
            .chat{
                width: 35%;
                height: 100%;
            }

            hr {
                width: 1px;
                height: 130%;
                background: rgb(28,6,142);
                background: linear-gradient(180deg, rgba(28,6,142,0.022846638655462215) 1%, rgba(28,6,142,0.08167016806722693) 4%, rgba(28,6,142,0.3253676470588235) 10%, rgba(28,6,142,0.8715861344537815) 53%, rgba(35,16,126,0.23573179271708689) 93%, rgba(35,16,126,0.07886904761904767) 96%, rgba(35,16,126,0.036852240896358524) 99%);
            }
        }
        
    }
}